---
import { props } from "vanil"

const mainBgColor = '#101010'
const mainColor = '#eee'

---
<html>
    <head>
        <title>{ props.title || "TemplateName" }</title>
        <link defer href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    </head>
    <body>

        <!-- page content is rendered here -->
        <!-- you can also use named slots -->
        <div class="content">
            <slot />
        </div>

        <style lang="scss">
            
            :root {
                --main-bg-color: ${mainBgColor};
                --main-color: ${mainColor};
            }

            .content {
                text-align: center;
                color: var(--main-color);
                max-width: 50vw;
                margin: auto;
                margin-top: 10rem;
            }
            
            body, html {
                background-color: var(--main-bg-color);
            }
        
        </style>
    </body>
</html>