---
import { Markdown } from "vanil"
---
<html class="js">
    <head>
        <title>Homepage</title>
    </head>
    <body>
        <Markdown src="../../content/index.md" />
        test1
    </body>
</html> 