---
import { props, get, Markdown, changeLanguage, Trans } from "vanil"
import PageLayout from "../../../../layouts/PageLayout.astro"
import DocPageLayout from "../../../../layouts/DocPageLayout.astro"
import { setNavSectionActive } from "../../../../function/setNavSectionActive"
import { STORE_KEY_TOC, NavSectionTypes } from "../../../../config/constants"

// i18n runtime lang sync
changeLanguage(props.lang)

setNavSectionActive('docs')

/** isolated executed getStaticPaths(), only for path materialization */
export const getStaticPaths = async() => {
  const allDocsPages = get(STORE_KEY_TOC)[NavSectionTypes.DOCS]
  return allDocsPages.filter((docPage: any) => docPage.params.section)
}
---
<PageLayout>
  <DocPageLayout title={props.title} sectionHead="Some nice intro text">

    <nav slot="doc.page.toc" class="docs-toc" aria-label="Docs navigation">
        <ul class="list-unstyled mb-0 py-3 pt-md-1">
          <li class="mb-1">
            <button class="btn d-inline-flex align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#getting-started-collapse" aria-expanded="true" aria-current="true">
              Getting started
            </button>

            <div class="collapse show" id="getting-started-collapse">
              <ul class="list-unstyled fw-normal pb-1 small">
                  <li><a href="/docs/5.1/getting-started/introduction/" class="d-inline-flex align-items-center rounded active" aria-current="page">Introduction</a></li>
                  <li><a href="/docs/5.1/getting-started/download/" class="d-inline-flex align-items-center rounded">Download</a></li>
                  <li><a href="/docs/5.1/getting-started/contents/" class="d-inline-flex align-items-center rounded">Contents</a></li>
                  <li><a href="/docs/5.1/getting-started/browsers-devices/" class="d-inline-flex align-items-center rounded">Browsers &amp; devices</a></li>
                  <li><a href="/docs/5.1/getting-started/javascript/" class="d-inline-flex align-items-center rounded">JavaScript</a></li>
                  <li><a href="/docs/5.1/getting-started/webpack/" class="d-inline-flex align-items-center rounded">Webpack</a></li>
                  <li><a href="/docs/5.1/getting-started/parcel/" class="d-inline-flex align-items-center rounded">Parcel</a></li>
                  <li><a href="/docs/5.1/getting-started/accessibility/" class="d-inline-flex align-items-center rounded">Accessibility</a></li>
                  <li><a href="/docs/5.1/getting-started/rfs/" class="d-inline-flex align-items-center rounded">RFS</a></li>
                  <li><a href="/docs/5.1/getting-started/rtl/" class="d-inline-flex align-items-center rounded">RTL</a></li>
                  <li><a href="/docs/5.1/getting-started/contribute/" class="d-inline-flex align-items-center rounded">Contribute</a></li>
              </ul>
            </div>
          </li>
      </ul>
    </nav>
    <div slot="doc.page.content">
      <Markdown src={props.contentFilePath} />
    </div>
    <div class="docs-toc-page mt-4 mb-5 my-md-0 ps-xl-3 mb-lg-5 text-muted" slot="doc.page.toc.page">
      <strong class="d-block h6 my-2 pb-2"><Trans key="On this page"></Trans></strong>
      <nav class="docs-toc-page-nav">
        <ul>
          <li><a href="#sass">Sass</a>
            <ul>
              <li><a href="#variables">Variables</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>

    <style lang="scss">
 
        /* importing a stylesheet exclusive for the 404 page */
        @import "./docs-page.scss";

    </style>
  </DocPageLayout>
</PageLayout>