---
import { props, get, changeLanguage } from "vanil"
import PageLayout from "../../../../layouts/PageLayout.astro"
import DocPageLayout from "../../../../layouts/DocPageLayout.astro"
import SectionsNav from "../../../../components/SectionsNav.astro"
import PageNav from "../../../../components/PageNav.astro"
import PageWithAnchorSections from "../../../../components/PageWithAnchorSections.astro"
import { setNavSectionActive } from "../../../../function/setNavSectionActive"
import { STORE_KEY_TOC, NavSectionTypes } from "../../../../config/constants"

// i18n runtime lang sync
changeLanguage(props.lang)

setNavSectionActive('docs')

/** isolated executed getStaticPaths(), only for path materialization */
export const getStaticPaths = async() => {
  const allDocsPages = get(STORE_KEY_TOC)[NavSectionTypes.DOCS]
  return allDocsPages.filter((docPage: any) => docPage.params.section)
}
---
<PageLayout>
  <DocPageLayout title={props.title} sectionHead="Some nice intro text">

    <link href="./page.scss" rel="stylesheet" />

    <nav slot="doc.page.toc">
      <SectionsNav />
    </nav>

    <div slot="doc.page.content">
      <PageWithAnchorSections />
    </div>

    <div slot="doc.page.toc.page">
      <PageNav />
    </div>

  </DocPageLayout>
</PageLayout>