---
import { props, get, Markdown, changeLanguage } from "vanil"
import PageLayout from "../../../../layouts/PageLayout.astro"
import DocPageLayout from "../../../../layouts/DocPageLayout.astro"
import { setNavSectionActive } from "../../../../function/setNavSectionActive"
import { STORE_KEY_TOC, NavSectionTypes } from "../../../../config/constants"

// i18n runtime lang sync
changeLanguage(props.lang)

setNavSectionActive('docs')

/** isolated executed getStaticPaths(), only for path materialization */
export const getStaticPaths = async() => {
  const allDocsPages = get(STORE_KEY_TOC)[NavSectionTypes.DOCS]
  return allDocsPages.filter((docPage: any) => docPage.params.section)
}
---
<PageLayout>
  <DocPageLayout title={props.title} sectionHead="Some nice intro text">
    <ul slot="doc.page.toc">
      <li>test toc</li>
    </ul>
    <div slot="doc.page.content">
      <h1>{props.title}</h1>
      
      <Markdown src={props.contentFilePath} />
    </div>
    <ul slot="doc.page.toc.page">
      <li>test toc-page</li>
    </ul>
  </DocPageLayout>
</PageLayout>