.panic-overlay__modal h1 {
  color: #f3e5ab !important;
}

.panic-overlay__error-type {
  color: #fff !important;
}

.panic-overlay__error-message {
  color: #999 !important;
}

.panic-overlay__line-hili {
  background: transparent !important;
  color: #f3e5ab !important;
}

.panic-overlay__close {
  color: #fff !important;
  opacity: 0.4 !important;
}

.panic-overlay__modal {
  background-color: #000 !important;
}
.panic-overlay__line-number {
  display: none !important;
}
