.vanilLogo {
  &.margin-auto {
    margin: auto;
  }

  &.animated {
    animation: flip-logo 10s infinite ease-in-out;
  }
}

@keyframes flip-logo {
  0% {
    transform: perspective(120px) rotateY();
  }
  50% {
    transform: perspective(120px) rotateY(179.9deg);
  }
  100% {
    transform: perspective(120px) rotateY(0);
  }
}
