---
---
<html>
  <head>
      <script>
          import { render } from "vanil"

          // browser language detection (we only want lang)
          // see https://developer.mozilla.org/en-US/docs/Web/API/Navigator/language
          const lang = (navigator.language || navigator.userLanguage).split('-')[0]

          // use web standard redirect via <meta> refresh
          render(<meta http-equiv="refresh" content={`0; url=/${lang}`} />, document.head)
      </script>
  </head>
  <body>
      <noscript>
          Please chose a language:
          <a href="/de">German</a>
          <a href="/en">English</a>
      </noscript>
  </body>
</html>