---
import { props } from "vanil"
---
<>
  <div class="container">
    <div class="row">
      <div class="col">
        <slot name="doc.page.toc" />
      </div>
      <div class="col">
        <slot name="doc.page.content" />
      </div>
      <div class="col">
        <slot name="doc.page.toc.page" />
      </div>
    </div>
  </div>
</>