html,
body {
  background-color: var(--main-bg-color);
  font: 1rem/1.5 var(--bs-font-sans-serif);
}

a {
  color: var(--bs-primary-color);
}

.content {
  margin-top: 50px;
}

.vanilLogo {
  path {
    fill: var(--brand-color) !important;
  }
}
