---
import { getCurrentVersion } from "../utils/getCurrentVersion"

import { VanilLogo } from "./icon/VanilLogo"
---
<footer class="bd-footer py-5 mt-5 bg">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4 mb-3">
        <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/" aria-label="Bootstrap">
          <VanilLogo />
          <span class="fs-5 ms-2 text-white">VANIL</span>
        </a>
        <ul class="list-unstyled small text-muted">
          <li class="mb-2">Built with unbreakable motivation by<br /><a href="https://arons.site" target="_blank" rel="noopener">Aron Homberg</a> and the <a target="_blank" rel="noopener" href="https://github.com/kyr0/vanil/graphs/contributors">VANIL contributors</a>.</li>
          <li class="mb-2">Code licensed <a href="https://github.com/kyr0/vanil/blob/main/LICENSE" target="_blank" rel="license noopener">MIT</a>, docs <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license noopener">CC BY 3.0</a>.</li>
          <li class="mb-2">Currently <a href="https://www.npmjs.com/package/vanil" target="_blank" rel="noopener">v{getCurrentVersion()}</a>.</li>
          <li class="mb-2"><a style={{ textDecoration: 'none' }} href="https://paypal.me/aronhomberg" target="_blank" rel="noopener">❤️ Love it? Sponsor me :)</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 offset-lg-2 mb-3">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/">Home</a></li>
          <li class="mb-2"><a href="/docs">Docs</a></li>
          <li class="mb-2"><a target="_blank" rel="noopener" href="https://github.com/kyr0/vanil/tree/main/examples">Examples</a></li>
          <li class="mb-2"><a target="_blank" rel="noopener" href="https://github.com/kyr0/vanil">GitHub</a></li>
          <li class="mb-2"><a href="/blog">Blog</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>Guides</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/docs/guides/getting-started">Getting started</a></li>
          <li class="mb-2"><a href="/docs/guides/concepts">Concepts</a></li>
          <li class="mb-2"><a href="/docs/guides/use-with-react">Use with React</a></li>
          <li class="mb-2"><a href="/docs/guides/use-with-vue">Use with Vue 3</a></li>
          <li class="mb-2"><a href="/docs/guides/use-with-svelte">Use with Svelte</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>Community</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a target="_blank" rel="noopener" href="https://github.com/kyr0/vanil/issues">Issues</a></li>
          <li class="mb-2"><a target="_blank" rel="noopener" href="https://github.com/kyr0/vanil/discussions">Discussions</a></li>
          <li class="mb-2"><a target="_blank" rel="noopener" href="https://paypal.me/aronhomberg">Sponsor</a></li>
          <li class="mb-2"><a target="_blank" rel="noopener" href="https://gitter.im/vanil-build/community">Gitter Chat</a></li>
          <li class="mb-2"><a target="_blank" rel="noopener" href="https://stackoverflow.com/questions/tagged/vanil">Stack Overflow</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>