---
import { fetchContent, props } from "vanil"
import { setCubicVdomNodeSize } from "../function/setCubicVdomNodeSize"
import { VanilLogo } from "./icon/VanilLogo"

const { navSectionActive } = props
const iconSizePx = 30

const navbarToggle = fetchContent('../../public/assets/icons/navbar-toggle.svg')[0]

const githubLogo = fetchContent('../../public/assets/github-logo.svg')[0]
setCubicVdomNodeSize(iconSizePx, githubLogo)

const gitterLogo = fetchContent('../../public/assets/gitter-logo.svg')[0]
setCubicVdomNodeSize(iconSizePx, gitterLogo)
---
<header class="navbar navbar-expand-md navbar-dark bd-navbar">

  <nav class="container-xxl flex-wrap flex-md-nowrap" aria-label="Main navigation">
    <a class="navbar-brand p-0 me-2" href="/" aria-label="Vanil">
      <VanilLogo />
    </a>
      
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false" aria-label="Toggle navigation">
        { navbarToggle }
    </button>

    <div class="collapse navbar-collapse" id="bdNavbar">
      <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav pt-2 py-md-0">
        <li class="nav-item col-6 col-md-auto">
          <a class={`nav-link p-2 ${navSectionActive === 'home' ? 'active' : ''}`} href="/">
            Home
          </a>
        </li>
        <li class="nav-item col-6 col-md-auto">
          <a class={`nav-link p-2 ${navSectionActive === 'docs' ? 'active' : ''}`} aria-current="true" href="/docs">
            Docs
          </a>
        </li>
        <li class="nav-item col-6 col-md-auto">
          <a class="nav-link p-2" href="/blog" target="_blank" rel="noopener">
            Blog
          </a>
        </li>
        <li class="nav-item col-6 col-md-auto">
          <a class={`nav-link p-2 ${navSectionActive === 'snippets' ? 'active' : ''}`} href="/snippets">
            Snippets
          </a>
        </li>
        <li class="nav-item col-6 col-md-auto">
          <a class="nav-link p-2" target="_blank" rel="noopener" href="https://github.com/kyr0/vanil/tree/main/examples">
            Examples
          </a>
        </li>
      </ul>

      <hr class="d-md-none text-white-50">

      <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
        <li class="nav-item col-6 col-md-auto">
          <a class="nav-link p-2" href="https://gitter.im/vanil-build/community" target="_blank" rel="noopener">
            { gitterLogo }
          </a>
        </li>
        <li class="nav-item col-6 col-md-auto">
          <a class="nav-link p-2" href="https://github.com/kyr0/vanil" target="_blank" rel="noopener">
            { githubLogo }
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>