---
import { get, props, request } from "vanil"

import Subsequent from "./subsequent.astro"

export interface Props {
    lala: string
    children?: any
} 

const { lala = 'Foo' } = Astro.props
---
<div>

    <Subsequent lala="fuhuu">

        <h1 slot="header">SubSome header</h1>
        <p slot="para">SubWanna have fun11!</p>
        SubDefault content
        SubLala1
        <p>Sublalala</p>
        <span>SubURL { request.url }</span>

    </Subsequent>

    ---

    Test: {lala}
    Test get: { get('testKey') }

    Site: { Astro.site }<br />
    isPage: { Astro.isPage } <br/>

    Default Slot:<br />
    <slot />

    Para Header:<br />
    <slot name="header" />

    Para Slot:<br />
    <slot name="para" />
</div>