---
import { props, Debug } from "vanil"

import PageLayout from "../../layouts/PageLayout.astro"
import DocPageLayout from "../../layouts/DocPageLayout.astro"

import { setNavSectionActive } from "../../function/setNavSectionActive"

setNavSectionActive('docs')

---
<PageLayout>
  <DocPageLayout title="Welcome" sectionHead="Some nice intro text">
    <ul slot="doc.page.toc">
      <li>test toc1</li>
    </ul>
    <div slot="doc.page.content">
      <h1>Welcome!</h1>

      <iframe src="https://codesandbox.io/embed/how-to-use-the-debug-component-2oszj?fontsize=14&hidenavigation=1&module=%2Fsrc%2Fpages%2Findex.astro&theme=dark"
        style="width:100%; height:500px; border:0; border-radius: 4px; overflow:hidden;"
        title="How to use the Debug component"
        allow="accelerometer; ambient-light-sensor; camera; encrypted-media; geolocation; gyroscope; hid; microphone; midi; payment; usb; vr; xr-spatial-tracking"
        sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts"
      ></iframe>
    </div>
    <ul slot="doc.page.toc.page">
      <li>test toc-page</li>
    </ul>
  </DocPageLayout>
</PageLayout>